/*
Cores
#181818
#000000
Laranja para o gradiente #ff8a42 e #e76a1d
#f1f1f1

*/
/*Estilos gerais*/
body {
  font-family: 'Teko', helvetica Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #181818;
  background: #e76a1d; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #e76a1d , #ff8a42); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #e76a1d, #ff8a42); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #e76a1d, #ff8a42); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #e76a1d , #ff8a42); /* Standard syntax */
}

p{
  font-family:'Libre Baskerville', Georgia, "Times New Roman", serif ;
  font-size: 14px;
  line-height: 20px;
}

li{
  vertical-align: middle;
}

h2{
  margin: 40px 0;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}


.menu-fixo{
	position: fixed;
	top: 0;
	z-index: 99;
}

.drop-fixo{
	position: fixed;
	top: 97px;
  width: 100%;
	z-index: 99;
}
/*Header*/

header{
  height: 100%;
}

.header-contato{
  height: 60px;
  background: #e76a1d; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #e76a1d , #ff8a42); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #e76a1d, #ff8a42); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #e76a1d, #ff8a42); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #e76a1d , #ff8a42); /* Standard syntax */
  padding: 10px 0;
}

.linha{
  background-color: #181818;
  display: block;
  width: 100%;
  height: 2px;
  margin: 0 auto;
}

.header-contato .container{
  display: flex;
}

.col-2{
  width: 50%;
}

.contato-header{
  text-align: right;
  margin-top: 8px;
}

.header-contato ul li{
  display: inline-block;
  margin-right: 10px;
}

.facebook-teste{
  height: 18px;
  width: 18px;
  display: block;
  fill:#f1f1f1;
  fill-opacity:1;
}

.facebook-tester{
  fill: #f1f1f1;
}

.redes-sociais-header ul li a {
  border: 2px solid #181818;
  height: 40px;
  width: 40px;
  display: block;
  padding: 9px;
  transition: all .5s ease;
  /*transition-timing-function: linear;*/
}

.redes-sociais-header a:hover {
  /*border: 2px solid #ff8a42;*/
  background-color: #181818;

}

.redes-sociais-header img{
  height: 18px;
  width: 18px;
  display: block;
}


.header-menu{
  width: 100%;
  height: 88px;
  background: #e76a1d; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #e76a1d , #ff8a42); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #e76a1d, #ff8a42); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #e76a1d, #ff8a42); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #e76a1d , #ff8a42); /* Standard syntax */
  z-index: 10;
  padding-top: 10px;
}

.logo{
  width: 160px;
  height: 50px;
  margin:0 30px;
}

.header-menu ul{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.header-menu ul li {
  display: inline-block;
  margin: 0 15px;
}

.header-menu ul li a{
  text-decoration: none;
  display: block;
  color: #181818;
  font-size: 24px;
  text-align: center;
  border: 2px solid rgba(76, 175, 80, 0);
  transition: all .1s ease;
  transition-timing-function: linear;
  padding: 2px 8px 0 8px;
}

.header-menu ul .hover:hover{
  border: 2px solid #181818;

}

.header-menu ul li:nth-child(6){
  display: none;
}


/*Section imagem-intro*/
.imagem-intro{
  position: relative;
  width: 100%;
  height: 650px;
  background-image: url("../img/web/banner.png");
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*section serviço*/
.servicos{
  background-color: #ff8a42;
  height: 780px;
}

.linha-servico{
  display: flex;
}

.servico{
  height: auto;
  margin-right: 15px;
  display: block;
  margin-bottom: 40px;
}

.servico-head{
  background-color:#e76a1d;
  width: 33,33%;
  height: 160px;
  padding: 20px;
}

.servico-head img{
  display: block;
  width: 60px;
  height: 60px;
  margin:0 auto 10px auto;
}

.servico-head h3{
  font-size: 32px;
  color: #F1F1F1;
  text-align: center;
}

.servico-body{
  background-color:#F1F1F1;
  width: 33,33%;
  height: 430px ;
  padding: 30px;
  float: left;

  -webkit-box-shadow: 0px 6px 3px -1px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 6px 3px -1px rgba(0,0,0,0.55);
  box-shadow: 0px 6px 3px -1px rgba(0,0,0,0.55);
}

.servico-body p{
  font-size: 16px;
  color: #181818;
  text-align:justify;
}

.servico-body .btn-vermelho{
  border: none;
  display: grid;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 140px;
  height: 42px;
  border: 4px solid #ff8a42;
  background-color: #f1f1f1;
  transition: border 0.1s, color 0.1s, background-color 0.1s;
  transition-timing-function: linear;
}

.servico-body .btn-vermelho:hover{
  border: 4px solid #ff8a42;
  color: #f1f1f1;
  background-color: #ff8a42;
}

/*Sobre*/
.sobre{
  background-image: url("../img/web/imagem-sobre.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.texto-sobre{
  background-color:#ff8a42;
  opacity: 0.5;
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 100px;
  padding: 50px 100px;
}
.texto-sobre p{
  font-size: 18px;
  color: #F1F1F1;
  text-align:justify;
}

/*Equipe*/

.equipe{
  height: auto;
  background-color:#e76a1d;
  text-align: center;
}

.pessoa-equipe{
  margin-bottom: 50px;
}

.pessoa-head{
  height: 210px;
}

.pessoa-head img{
  width: 248px;
  height: 210px;
}

.pessoa-body{
  background-color: #ff8a42;
  padding: 10px;
  width: 248px;
  margin: 0 auto;
  text-align: center;
}

.pessoa-body h3{
  font-size: 28px;
}

/*Seção Contato*/
.contato{
  background-image: url("../img/web/image4384.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.formulario{
  text-align: left;
}

.formulario label{
  margin-left: 5px;
}

.formulario input, .formulario textarea{
  display: block;
  width: 100%;
  border: 4px solid #ff8a42;
  padding: 5px 10px;
  margin-bottom: 5px;
  outline: none;
  font-size: 14px;
  color: #181818;
  font-family:'Libre Baskerville', Georgia, "Times New Roman", serif ;
}

.formulario textarea{
  resize: none;
}

.formulario .btn-vermelho{
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 140px;
  height: 42px;
  background-color: #ff8a42;
  transition: border 0.1s, color 0.1s, background-color 0.1s;
  transition-timing-function: linear;
}

.formulario .btn-vermelho:hover{
  border: 4px solid #ff8a42;
  color: #ff8a42;
  background-color: white;
}

.redes-sociais-contato ul{
  text-align: left;
  margin-top: 20px;
  margin-left: 40px;
}

.redes-sociais-contato ul li{
  display: inline-block;
  margin-right: 50px;
}

.redes-sociais-contato ul li a {
  border: 4px solid #F1F1F1;
  height: 80px;
  width: 80px;
  display: block;
  padding: 18px;
  transition: border 0.1s;
  transition-timing-function: linear;
}

.redes-sociais-contato ul li a:hover {
  border: 4px solid #ff8a42;
}

.redes-sociais-contato ul li a img{
  height: 35px;
  width: 35px;
  display: block;
}

.contato-email, .contato-telefone{
  text-align: left;
  padding-top: 5px;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 32px;
}

/*Footer*/
footer{
  background-color: #ff8a42;
}

footer .quebra h5{
  font-size: 28px;
  color: #F1F1F1;
  margin: 25px 0;
}

footer .quebra h5 a{
  text-decoration: none;
  color: #00adb5;
}

footer span{
  padding: 5px 10px;
  display: block;
  text-align: right;
}

/*Animações*/
.js .imagem-intro h1,.js .anime{
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
